.App {
  text-align: center;
}
.home {
  background-color:navy;
  color: white;
  position: absolute;
  width: 100%;
  top: 40px; 
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 4vh;
}

.mario {
  width: 80%;
    height: auto;
    max-height: 40vh;
    overflow: hidden;
    object-position: center center;
    margin: 2%
}


.princess {
  background-color:rgb(241, 82, 109);
  color: white;
  position: absolute;
  width: 100%;
  top: 40px; 
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
